*, *::after, *::before {
    box-sizing: border-box;
}

/* Root element will contain css variables that go across entire file */
/* hue and saturation can be adjusted to change the paddle and background color */
:root {
    --hue: 200;
    --saturation: 50%;
    --foreground-color: hsl(var(--hue), var(--saturation), 75%);
    --background-color: hsl(var(--hue), var(--saturation), 20%);
}

body {
    margin: 0;
    background-color: var(--background-color);
}



.paddle {
    --position: 50;

   position: absolute;
   background-color: var(--foreground-color);
   /* Use translate and top to set the paddles in the middle of the screen */
   /* Using the position variable so that position of the paddle board can be changed */
   top: calc(var(--position) * 1vh);
   transform: translateY(-50%);
   /* Width 1 percent of screen height and height is 10 percent of screen height */
   width: 1vh;
   height: 10vh;

}

.paddle.left {
    left: 1vw;
}

.paddle.right {
    right: 1vw;
}

/* Styling for ball will be similiar to paddle */
.ball {

    --x: 50;
    --y: 50;

    position: absolute;
    background-color: var(--foreground-color);
 
    left: calc(var(--x)*1vw);
    top: calc(var(--y) *1vh);
    transform: translate(-50%, -50%);
    /* Width 2.5 percent of screen height and height will 2.5 percent of screen height */
    width: 2.5vh;
    height: 2.5vh;
    /* Set the border-radius to 50% to round the ball */
    border-radius: 50%;
}

/* Styles for the score panel */
.score-board {
    display: flex;
    /* The player and computer score will be on either ends of the screen */
    justify-content: space-between;
    /* Give 2 percent of width padding on each side */
    padding: 0 2vw 0 2vw;
    font-weight: bold;
    font-size: 10vh;
    /* Set the color of the score-board to variable foreground */
    color: var(--foreground-color);
    /* Make the opacity 50 percent */
    opacity: .5;
}

